* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*--------------------Imports-------------------------*/

@font-face {
    font-family: raleway;
    src: url(fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: raleway-bold;
    src: url(fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 100;
}

/*--------------------body-------------------------*/

body {
    background-repeat: no-repeat;
}

/*----dark-mode----*/

.dark-mode {
  background-color: black;
}

/*---footer----*/

footer {
    height: 30vh;
    background-color: floralwhite;
}


/*---nav-bar----*/
.nav-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
}

.nav-bar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.nav-bar ul li {
    margin: 0;
    padding: 20px 10px;
}

.nav-bar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: raleway;
    letter-spacing: 1px;
    color: white;
}

.nav-bar ul li:hover {
    background: black;
}

.nav-bar ul li a:hover {
    color: yellow
}

/*--------------------Main Part-------------------------*/


#container-1 {
    background: url(images/backgrounds/1st-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.name {
    position: absolute;
    top: 35%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, 50%);
    font-family: raleway-bold, sans-serif;
    font-size: 60px;
    font-weight: 100;
    color: darkslategrey;
    text-decoration: underline;
    letter-spacing: 3px;
    text-shadow: 4px 2px 2px #888888;
}

.profession-tag {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: raleway, sans-serif;
    font-size: 30px;
    text-decoration: underline;
    color: darkslategrey;
    letter-spacing: 3px;
    font-variant-caps: petite-caps;
}

.find-more-btn {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: midnightblue;
    text-decoration: none;
    text-align: center;
    padding: 12px 20px ;
    font-size: 23px;
    font-family: raleway, sans-serif;
    font-weight: 500;
    color: white;
}

/*--------------------About Me-------------------------*/

#container-2 {
    background-color: #FFFFF0;
    background-position: center;
    background-size: cover;
    height: 50vh;
}


.about-me {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: raleway;
    font-size: 30px;
    letter-spacing: 1px;
}

span {
    color: darkslateblue;
    text-decoration: underline
}

.about-quote {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%);
    font-family: raleway;
    letter-spacing: 1px;
    font-size: 20px;
}


/*--------------------MY SKILLS PANEL-------------------------*/

#container-3 {
    background-color: #000919;
    background-position: center;
    background-size: cover;
    height: 80vh;
}



.my-skills {
    position: absolute;
    top: 158%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: floralwhite;
    font-family: raleway;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-decoration: underline;
}

/*--------------------HTML-------------------------*/

.html {
    position: absolute;
    top: 172%;
    left: 200px;
    transform: translate(-50%, 50%);
}

.html i {
    color: white;
    font-size: 40px;
}

.html progress {
    position: relative;
    top: -15px;
    left: 15px;
    transform: translate(-50%,);
}

/*--------------------progress bar-------------------------*/

progress {
    background-color: white;
    color: white;
    height: 3px;
    width: 200px;
    color: white;
}

/*--------------------CSS-------------------------*/

.css {
    position: absolute;
    top: 187%;
    left: 200px;
    transform: translate(-50%, 50%);
}

.css i {
    color: white;
    font-size: 40px;
}

.css progress {
    position: relative;
    top: -15px;
    left: 15px;
    transform: translate(-50%,);
}

/*--------------------java Script-------------------------*/

.java {
    position: absolute;
    top: 202%;
    left: 200px;
    transform: translate(-50%, 50%);
}

.java i {
    color: white;
    font-size: 40px;
}

.java progress {
    position: relative;
    top: -15px;
    left: 15px;
    transform: translate(-50%,);
}

/*--------------------Photoshop-------------------------*/

.ps {
    position: absolute;
    top: 172%;
    left: 500px;
    transform: translate(-50%,);
}

.ps-logo {
    max-height: 40px;
    transform: translate(-50%, 50%);
}

/*--------------------Illustrator-------------------------*/

.ai {
    position: absolute;
    top: 187%;
    left: 500px;
    transform: translate(-50%,);
}

.ai-logo {
    max-height: 40px;
    transform: translate(-50%, 50%);
}

/*--------------------After Effects-------------------------*/

.ae {
    position: absolute;
    top: 202%;
    left: 500px;
    transform: translate(-50%,);
}

.ae-logo {
    max-height: 40px;
    transform: translate(-50%, 50%);
}

/*--------------------3ds MAX-------------------------*/

.max {
    position: absolute;
    top: 172%;
    left: 900px;
    transform: translate(-50%,);
}

.max-logo {
    max-height: 40px;
    transform: translate(-50%, 50%);
}

/*--------------------Python-------------------------*/



/*--------------------angular-------------------------*/




/*--------------------My Education-------------------------*/


#container-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/backgrounds/education.jpg');
    background-size: cover;
    height: 70vh;
}

#container-4 h1 {
    position: absolute;
    top: 240%;
    left: 700px;
    color: white;
    transform: translate(-50%, 50%);
    font-family: raleway;
    font-variant-caps: petite-caps;
    text-decoration: underline;
}

.school {
    position: absolute;
    top: 255%;
    left: 270px;
    transform: translate(-50%, 50%);
}

.school h2 {
    font-family: raleway;
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    text-decoration: underline;
    font-variant-caps: petite-caps
}

.school i {
    position: absolute;
    left: -55px;
    top: -5px;
    color: white;
    font-size: 30px;
}

.school p {
    color: white;
    padding-top: 10px;
    font-family: raleway;
    font-size: 15px;
}

.college {
    position: absolute;
    top: 275%;
    left: 300px;
    max-width: 300px;
    transform: translate(-50%, 50%);
}

.college h2 {
    font-family: raleway;
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    text-decoration: underline;
    font-variant-caps: petite-caps;
}

.college i {
    position: absolute;
    left: -55px;
    top: -5px;
    color: white;
    font-size: 30px;
}

.college p {
    color: white;
    padding-top: 10px;
    font-family: raleway;
    font-size: 15px;
}

.maac {
    position: absolute;
    top: 250%;
    left: 1000px;
    transform: translate(-50%, 50%);
}

.maac i {
    position: absolute;
    font-size: 30px;
    color: white;
    left: -55px;
}

.maac h2 {
    color: white;
    font-family: raleway;
    font-size: 25px;
    letter-spacing: 1px;
    text-decoration: underline;
    font-variant-caps: petite-caps;
}

.maac p {
    color: white;
    padding-top: 10px;
    font-family: raleway;
    font-size: 15px;
}

/*-----my intrests-----*/

#container-5 {
    background-color: #C06C84;
    height: 40vh;
    background-size: cover;
}

#container-5 h1 {
    position: absolute;
    top: 300%;
    left: 700px;
    transform: translate(-50%, 50%);
    font-family: raleway;
    color: white;
    font-variant-caps: petite-caps;
    text-decoration: underline;
}

.my-intrests {
    position: absolute;
    display: block;
    top: 305%;
    left: 310px;
}

.my-intrests i {
    padding: 10px 60px;
    font-size: 50px;
    transform: translate(-50%, 50%);
    color: white;
}

.my-intrests i p {
    font-size: 18px;
    padding-top: 15px;
    font-family: raleway;
    letter-spacing: 1.2px;
}

/*----------My-Portfolio---------*/

#container-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/backgrounds/portfolio.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#container-6 h1 {
    font-family: raleway;
    color: white;
    position: absolute;
    top: 350%;
    left: 600px;
    text-decoration: underline;
    font-variant-caps: petite-caps;
}

#container-7 {
    background-color: #CDB599FF;
    background-position: center;
    background-size: cover;
    height: 70vh;
}

#container-7 h1 {
    position: absolute;
    top: 453%;
    left: 50px;
    font-family: raleway;
    font-size: 35px;
    color: white;
    text-decoration: underline;
    font-variant-caps: petite-caps;
    letter-spacing: 2px;
}

.name-form {
    position: absolute;
    top: 463%;
    left: 50px;
}

.name-form input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    width: 300px;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-family: raleway;
    letter-spacing: 1px;
    color: white;
    outline: none;
}

.name-form input::placeholder {
    color: antiquewhite;
}

.mail-form {
    position: absolute;
    top: 473%;
    left: 50px;
}

.mail-form input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    width: 300px;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
    font-family: raleway;
    letter-spacing: 1px;
    color: white;
    outline: none;
}

.mail-form input::placeholder {
    color: antiquewhite;
}

.your-msg {
    position: absolute;
    top: 482%;
    left: 50px;
}

.your-msg textarea {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    width: 300px;
    height: 100px;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-family: raleway;
    letter-spacing: 1px;
    color: white;
    outline: none;
    resize: none;
}

.your-msg textarea::placeholder {
    color: antiquewhite;
}

.submit{
    position: absolute;
    top: 500%;
    left: 19%;
}

.submit input {
    height: 40px;
    width: 100px;
    background: none;
    border: 2px solid white;
    border-radius: 70px;
    color: white;
    font-size: 18px;
    font-family: raleway;
}

.submit input:hover {
    border: #CDB599FF;
    background: white;
    color: #CDB599FF;
    font-size: 20px;
}

.contact-img {
    position: absolute;
    height: 70%;
    width: 250px;
}

.sociallinksp p {
    position: absolute;
    top: 515%;
    left: 30%;
    font-family: raleway;
    font-size: 20px;
    text-decoration: underline;
    font-variant-caps: petite-caps;
}


.social-links {
    position: absolute;
    top: 525%;
    left: 33%;
}

.social-links p {
    font-size: 20px;
    font-family: raleway;
    text-decoration: underline;
    font-variant-caps: petite-caps;
}

.social-links a {
   padding: 0 15px;;
}

.social-links a i {
    font-size: 35px;
    border: 1px solid transparent;
    border-radius: 100%;
}

.fa-facebook-f {
    padding: 10px 16px;
    color: #3b5998;
    transition: 0.5s ease;
}

.fa-facebook-f:hover {
    color: white;
    background: #3b5998;
    box-shadow: 4px 4px #888888;
}

.fa-linkedin-in {
    padding: 10px 12px;
    color: #0e76a8;
    transition: 0.5s ease;
}

.fa-linkedin-in:hover {
    color: white;
    background: #0e76a8;
    box-shadow: 4px 4px #888888;
}

.fa-google-plus-g {
    padding: 10px 5px;
    color: #db4a39;
    transition: 0.5s ease;
}

.fa-google-plus-g:hover {
    color: white;
    background: #db4a39;
    box-shadow: 4px 4px #888888;
}

.fa-twitter {
    padding: 10px;
    color: #00acee;
    transition: 0.5s ease;
}

.fa-twitter:hover {
    color: white;
    background: #00acee;
    box-shadow: 4px 4px #888888;
}

.fa-instagram {
    padding: 10px 12px;
    background:-moz-linear-gradient(top, #515BD4 0%, #8134AF 100%); 
    background: -webkit-linear-gradient(top, #DD2A7B 0%,#FEDA77 100%); 
    background: linear-gradient(to bottom, #F58529 0%,#DD2A7B 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
    transition: 0.5s ease;
}

.fa-instagram:hover {
    color: white;
    background: linear-gradient(#DD2A7B, #FEDA77);
    box-shadow: 4px 4px #888888;
}

.fa-envelope {
    background:-moz-linear-gradient(top, #ffffff 0%, #FF0000 100%); 
    background: -webkit-linear-gradient(top, #ffffff 0%,#FF0000 100%); 
    background: linear-gradient(to bottom, #fffff 0%,#FF0000 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}

.fa-whatsapp {
    color: forestgreen;
}

.reach-me {
    position: absolute;
    left: 70.2%;
    height: 459px;
    width: 400px;
    background: grey; 
}

.reach-me p {
    font-family: raleway;
    color: white;
    font-size: 30px;
    padding:20px 25px;
}

.reach-me a {
    display: block;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-family: raleway;
    color: white;
}

.reach-me i {
    padding: 5px 15px;
    font-size: 25px;
}








